---
import { actions } from "astro:actions"

const { session } = Astro.locals
---

<nav>
    {
        session ? (
            <form method="post" action={actions.auth.signOut}>
                <button type="submit">Sign Out</button>
            </form>
        ) : (
            <a href="/auth">Sign In</a>
        )
    }
</nav>
